@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-LightItalic.ttf) format('trutype');
    font-weight: lightItalic;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 120px;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.links li {
    padding-right: 35px;
    font-weight: normal;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding-right: 75vh;
}

.hero, footer {
    background-color: #1f2937;
}

.main {
    justify-content: center;
    padding: 0 220px 120px 185px;
}

.left {

    padding-right: 50px;
}

.right {
    border: 1px solid #555;
}

.hero-sub {
    padding-bottom: 15px;
}

.btn-one {
    border-radius: 10px;
    height: 40px;
    width: 150px;
    color: #f9faf8;
    font-size: larger;
    font-weight: bold;
    border: none;
}


main {
    font-size: 48px;
    font-weight: bolder;
}

.hero {
    color: #f9faf8;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.info {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    color: #1f2937;
    padding: 40px 0 40px 0;
}

.pictures {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    padding-left: 19px;
    margin: auto;
}

.center {
    text-align: center;
    margin-right: 40px;
    width: fit-content;
    padding-bottom: 100px;
}

.quote {
    justify-content: center;
    font-style: lightItalic;
    padding: 100px 150px 100px 150px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #e5e7eb;
    font-weight: normal;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote-text {
    font-weight: lightItalic;
    font-size: 36px;
}

.thor {
    font-weight: bold;
}

button {
    background-color: #3882f6;
}

.img {
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.call-to {
    background-color: #3882f6;
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}