@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font: light-italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Italic.ttf) format('truetype');
    font: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font: bold;
}



* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 120px;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.links li {
    padding-right: 35px;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
    font-style: extra-bold;
    padding-right: 75vh;
}

.hero, footer {
    background-color: #1f2937;
}

main {
    font-size: 48px;
    font-style: extra-bold;
}

.hero {
    color: #f9faf8;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

footer {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
}

.thor {
    font-weight: bold;
}

button {
    background-color: #3882f6;
}

.img {
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.call-to {
    background-color: #3882f6;
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}