@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

.hero, footer {
    background-color: #1f2937;
}

main {
    font-size: 48px;
    font-style: extra-bold;
}

.hero {
    color: #f9faf8;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

footer {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
}

.thor {
    font-weight: bold;
}

button {
    background-color: #3882f6;
}

.img {
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.call-to {
    background-color: #3882f6;
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}